<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to Node with Express!</title>
</head>
<body>
        <li>
                <a href="/contact">Contact</a>
            </li>
            <li>
                <a href="/">Home</a>
            </li>
    <h1>You're on the contact page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium eos reprehenderit a. Delectus provident labore possimus debitis at velit non autem nesciunt dicta totam quas odit cum quidem, optio blanditiis?</p>
    <p>
       Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi quas fugit, numquam quasi incidunt consequatur error vitae aliquid necessitatibus dolore quos ut maxime. Sunt dolorem, repudiandae explicabo voluptas officiis distinctio.
    </p>
</body>
</html>